/* Global styles */

@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,700,700i|Source+Serif+Pro&display=swap");

:root {
  --color1: salmon;
  --color2: #333;
}

body {
  margin: 0;
  padding: 50px;
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: var(--color2);
  display: flex;
  justify-content: center;
}
body > div {
  width: 900px;
}
.elegant {
  font-family: "Source Serif Pro", serif;
}

a {
  color: var(--color1);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  width: 100%;
  display: block;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
}
h1, h2, h3, h4, h5 {
  margin: 0;
}

/* Header */

header {
  height: 100px;
  align-items: center;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-gap: 15px;
}

header .logo {
  line-height: 0;
}

/* Cards */

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

/* Card */

.card {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  filter: brightness(90%);
  transition: all 0.2s;
}
.card:hover {
  filter: brightness(100%);
}
.card .image {
  object-fit: cover;
}
.card .text {
  flex: 1;
  margin: 0;
  padding: 15px;
  background: var(--color2);
  color: white;
}

/* Footer */

footer {
  height: 100px;
  margin-top: 50px;
  opacity: 0.5;
}
footer a {
  color: var(--color2);
}

/* Content (image text) */

.content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 25px;
}

@media (max-width: 600px) {
  .content {
    grid-template-columns: 1fr;
  }
}